/*tag de corpo*/
body{
   
    background-image:url(dd07462d390edf248525cb3c926a06d5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;




}


.tudo{
    display: flex;
    justify-content: center;
    align-items: center;


}


.retangulo{
    margin-top: 20px;
    width: 900px;
    background-color:black;
    color: white;
    font-size: 19px;
    border-radius: 10px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


img{
    width: 100%;
    border-radius: 10px;


}


p{
    margin: 1vw;


}


*{
    margin: 0;
}






.menu{
    display: flex;
    list-style: none;
    background-color: black;
    justify-content: center;
}


.menu li{
    position: relative;
}


.menu li a {
    display: block;
    color: white;
    text-decoration: silver;
    padding: 20px;




}


li a:hover{
    background-color: gray;


}


h1{
    margin: 20px;
    text-align: center;
}


.submenu{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: gray;
    display: none;
}


.submenu{
    padding: 10px 20px;
}


.menu li:hover .submenu{
    display: block;
}


.submenu li a:hover{
    color: black;
   
   
}
